* {
  margin:0;
  padding:0;
}
body {
	
}



#header {
    background: transparent url(../imagenes/logo_sig.png) no-repeat 0 0;
	height:349px;
	margin:0;
}

.logueo {
	height:auto;
}

#menuCate {
	height:100%;
	background-color: #53cbf1;
	padding-top:15px;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 235px;
	z-index: 9999;
	border-left:1px solid #258BA9;
	border-right:1px solid #258BA9;
	margin-left:-235px;
	overflow: hidden;
}

#icoCate {
	height:298px;
	background:url(../imagenes/icoCategrorias.png) no-repeat;
	margin-top:10%;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 45px;
	z-index: 9999;
	overflow: hidden;
	cursor:pointer;
}


.todoMenu {
			display:none;
		}
		
		.nav {
			margin-top:10px;
			border-top:1px solid #0090C5;
			/*border-bottom:1px solid #D2F4FF;*/
		}
		.nav ul {
			list-style:none;
		}
		.nav ul li {
			padding-top:15px;
			border-bottom:1px solid #0090C5;
			border-top:1px solid #D2F4FF;
			padding:8px;
			width:100%;
		}
		
		.nav ul li a {
			color:#FFF;
			font-family:Bebas;
			font-size:18px;
			text-decoration:none;
			width:100%;
		}
		
		.nav ul li:hover {
			border-top:1px solid #0090C5;
		background: #0069E1; /* Old browsers */
background: -moz-linear-gradient(top, #0069E1 0%, #008EF3 29%, #0086F3 82%, #0069E1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0069E1), color-stop(29%,#008EF3), color-stop(82%,#0086F3), color-stop(100%,#0069E1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #0069E1 0%,#008EF3 29%,#0086F3 82%,#0069E1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #0069E1 0%,#008EF3 29%,#0086F3 82%,#0069E1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #0069E1 0%,#008EF3 29%,#0086F3 82%,#0069E1 100%); /* IE10+ */
background: linear-gradient(to bottom, #0069E1 0%,#008EF3 29%,#0086F3 82%,#0069E1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0069E1', endColorstr='#0069E1',GradientType=0 ); /* IE6-9 */
		}
		.nav .arriba {
			border-top:1px solid #D2F4FF;
		}
		.abajo {
			border-top:1px solid #D2F4FF;
			padding-top:-8px;
		}
		
		#infoMenu {
			margin-top:15px;
			padding:8px 2px 1px 10px;
			/*background-color:#7A0000;*/
			background: #d60000; /* Old browsers */
background: -moz-linear-gradient(top, #d60000 0%, #b20000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d60000), color-stop(100%,#b20000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #d60000 0%,#b20000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #d60000 0%,#b20000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #d60000 0%,#b20000 100%); /* IE10+ */
background: linear-gradient(to bottom, #d60000 0%,#b20000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60000', endColorstr='#b20000',GradientType=0 ); /* IE6-9 */
		border-bottom:1px solid #d60000;
		border-top:1px solid #b20000;
		}
		
		#infoMenu p {	
			color: #000;
			font-family: "Coolvetica Rg";
			font-size:16px;
		}
		
		#infoDescrMenu {
			padding:8px;
		}
		
		#infoDescrMenu p {
			color:#FFF;
		}
		
		.icodashboard {
			background:url(../imagenes/iconmenu/dashboard.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			float:left;
			margin-right:9px;
		}
		
		.icousuarios {
			background:url(../imagenes/iconmenu/usuarios.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			float:left;
			margin-right:10px;
		}
		
		.icoalquileres {
			background:url(../imagenes/iconmenu/alquiler.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			float:left;
			margin-right:10px;
		}
		
		.icoinmubles {
			background:url(../imagenes/iconmenu/inmueble.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			float:left;
			margin-right:10px;
		}
		
		
		.icoreportes {
			background:url(../imagenes/iconmenu/reportes.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			float:left;
			margin-right:10px;
		}
		
		.icocontratos {
			background:url(../imagenes/iconmenu/contratos.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			float:left;
			margin-right:10px;
		}
		
		.icosalir {
			background:url(../imagenes/iconmenu/salir.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			float:left;
			margin-right:10px;
		}
		
		.icodashboard2 {
			background:url(../imagenes/iconmenu/dashboard.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			margin-right:9px;
			margin-bottom:25px;
			cursor:pointer;
		}
		
		.icousuarios2 {
			background:url(../imagenes/iconmenu/usuarios.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			margin-right:10px;
			margin-bottom:25px;
			cursor:pointer;
		}
		
		.icoalquileres2 {
			background:url(../imagenes/iconmenu/alquiler.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			margin-right:10px;
			margin-bottom:25px;
			cursor:pointer;
		}
		
		.icoinmubles2 {
			background:url(../imagenes/iconmenu/inmueble.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			margin-right:10px;
			margin-bottom:25px;
			cursor:pointer;
		}
		
		
		.icoreportes2 {
			background:url(../imagenes/iconmenu/reportes.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			margin-right:10px;
			margin-bottom:25px;
			cursor:pointer;
		}
		
		.icocontratos2 {
			background:url(../imagenes/iconmenu/contratos.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			margin-right:10px;
			margin-bottom:25px;
			cursor:pointer;
		}
		
		.icosalir2 {
			background:url(../imagenes/iconmenu/salir.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			margin-right:10px;
			margin-bottom:25px;
			cursor:pointer;
		}
		
		
		.ulHober {
			list-style:none;
			width:40px;
			right:6px;
			position:absolute;
		}
		
		.ulHober li {
			right:0;
		}
		
		.tooltip-dash, .tooltip-inmu, .tooltip-alqui, .tooltip-usua, .tooltip-con, .tooltip-rep, .tooltip-sal{
		   position: fixed;
		   background: #c0df71;
		   color: #fff;
		   border-radius:10px;
		   font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
		   padding: 10px;
		   margin-top: -10px;
		   margin-left: 20px;
		   z-index: 9999999999;
		   display: none;
		   background-color: #333;
		}
		
		
		
  .boxInfo{ 
				width: 84%; 
				height: 160px; 
				margin:10px;
				float:left; 
				background:#fff; 

				overflow: hidden; 
				position: relative; 
				opacity: 0.8;
  				filter:  alpha(opacity=80);
				box-shadow: 2px 2px 5px #999;
				-webkit-box-shadow: 2px 2px 5px #999;
  				-moz-box-shadow: 2px 2px 5px #999;
  				filter: shadow(color=#999999, direction=135, strength=2);
				/*border-top-left-radius: 16px;
 				border-top-right-radius: 16px;
				-moz-border-radius-topright: 16px;
				-moz-border-radius-topleft: 16px;*/


			}

  			#headBoxInfo {
				background: rgb(255,195,188); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,195,188,1) 0%, rgba(255,119,104,1) 18%, rgba(255,44,25,1) 43%, rgba(255,26,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,195,188,1)), color-stop(18%,rgba(255,119,104,1)), color-stop(43%,rgba(255,44,25,1)), color-stop(100%,rgba(255,26,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,195,188,1) 0%,rgba(255,119,104,1) 18%,rgba(255,44,25,1) 43%,rgba(255,26,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,195,188,1) 0%,rgba(255,119,104,1) 18%,rgba(255,44,25,1) 43%,rgba(255,26,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,195,188,1) 0%,rgba(255,119,104,1) 18%,rgba(255,44,25,1) 43%,rgba(255,26,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,195,188,1) 0%,rgba(255,119,104,1) 18%,rgba(255,44,25,1) 43%,rgba(255,26,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc3bc', endColorstr='#ff1a00',GradientType=0 ); /* IE6-9 */

 padding:6px; height:36px; border-bottom:1px solid #0090C5;
			}
			
			
			
			
			
			
			
			
			
			

body > footer{
background: url(../imagenes/bg-bueno.jpg) repeat; text-align:center; font-family: "Prestige Elite Std"; font-size:0.9em; height:30px;
border-top:2px solid #085878;
width:100%;
padding-top:10px;
bottom: 0px;
font-size:1.1em;
padding-bottom: 10px;
}

.content {
    height: 100%;
    margin: -200px auto;
    padding: 16px;
    width: 1020px;
}



.bs-callout-info {
background-color: #dff0d8;
border-color: #3c763d;
width: 400px;
}
.bs-callout {
margin: 20px 0;
padding: 20px;
border-left: 3px solid #3c763d;
}
.bs-callout-info h4 {
color: #3c763d;
}
.bs-callout h4 {
margin-top: 0;
margin-bottom: 5px;
}

.bs-callout p:last-child {
margin-bottom: 0;
}

.letraChica {
	font-size:12px;
}

.izq {
	width:19%;
	padding:20px;
	float:left;
	height:auto;
}

.der {
	width:79%;
	padding:20px;
	float:right;
	height:auto;
}



